.table {
	border-collapse: collapse;
	border-bottom: 1px solid gray;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.table-header {
	border-bottom: 1px solid gray;
	background: none repeat scroll 0 0 #66CCFF;
	padding: 10px;
}

.table-row-odd {
	border-top: 1px solid gray;
	background: none repeat scroll 0 0 #FFF;
	text-align: center;
}

.table-row-even {
	border-top: 1px solid gray;
	background: none repeat scroll 0 0 #F9F9F9;
	text-align: center;
}